---
import { IMetaHead } from "@types";
import { info } from "@data";

const { title, description, ogImageUrl } = Astro.props as IMetaHead;
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
{
  title && (
    <link rel="canonical" href={`${info.baseUrl}${Astro.url.pathname}`} />
  )
}
{title && <title>{`${title} - ${info.name}`}</title>}
{title && <meta name="title" content={`${title} - ${info.name}`} />}
{description && <meta name="description" content={description} />}

<!-- Open Graph / Facebook -->
{title && <meta property="og:type" content="website" />}
{
  title && (
    <meta property="og:url" content={`${info.baseUrl}${Astro.url.pathname}`} />
  )
}
{title && <meta property="og:title" content={`${title} - ${info.name}`} />}
{description && <meta property="og:description" content={description} />}
{
  ogImageUrl && (
    <meta property="og:image" content={`${info.baseUrl}${ogImageUrl}`} />
  )
}

<!-- Twitter -->
{title && <meta property="twitter:card" content="summary_large_image" />}
{
  title && (
    <meta
      property="twitter:url"
      content={`${info.baseUrl}${Astro.url.pathname}`}
    />
  )
}
{title && <meta property="twitter:title" content={`${title} - ${info.name}`} />}
{description && <meta property="twitter:description" content={description} />}
{
  ogImageUrl && (
    <meta property="twitter:image" content={`${info.baseUrl}${ogImageUrl}`} />
  )
}

<!-- preload assests -->
<link
  rel="preload"
  href="/assets/fonts/Inter/Inter-Light.ttf"
  as="font"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/Outfit/Outfit-SemiBold.ttf"
  as="font"
  crossorigin
/>
