---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <MetaHead
      title={"Portafolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"Experiencia"} details={info.experience} id="experience"/>
      <Experience title={"Educación"} details={info.education} id="education" />
      <div class="bg-gradient-to-r from-blue to-purple pt-1 mt-16">
        <section id="projects" class="bg-black">
          <h2 class="w-[15rem] pt-16 dark:text-light uppercase">Proyectos</h2>
          <ProjectsWrapper projects={featureProjects} />
        </section>
      </div>
    </Layout>
  </body>
</html>
