---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} about={info.about} />
      <Experience title={"EXPERIENCE"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
    </Layout>
  </body>
</html>
