---
import { IExperiences } from "@types";

const { title, details } = Astro.props as IExperiences;
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
>
  <h2 class="w-[15rem] mt-16">{title}</h2>
  <div class="w-full">
    {
      details.map((item) => (
        <div class="my-16">
          <div class="flex justify-between items-center flex-wrap">
            <h3 class="text-xl font-semibold">{item.name}</h3>
            <p class="text-sm dark:text-gray">
              {item.startDate} - {item.endDate}
            </p>
          </div>
          <p class="text-sm mt-3 text-blue">{item.location}</p>
          <ul class="mt-3">
            {item.description.map((item) => (
              <li class="dark:text-gray">{item}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
